[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rumps = "*"
pyyaml = "*"

[dev-packages]
py2app = "*"

[requires]
python_version = "3.11"

[scripts]
start = "python main.py"
build = "python setup.py py2app"
